body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: #006FE7
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
}

.me-file {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.me-file-left  {
    max-width: 50%;
}

@media screen and (max-width: 750px) {
    .me-file-left {
        max-width: 97.25%;
    }
}

.me-file-left-top {
    text-align: left;
}

@media screen and (max-width: 751px) {
    .me-file-left-top {
        text-align: center;
    }
}

.me-file-left-photo {    
    display: flex;
    justify-content: center;
}
.me-file-left-photo img, .me-file-right-photo img {
    width: auto;
    max-height: 40vh;
}

@media screen and (min-width: 751px) {
    .me-file-left-photo {
        display: none;
    }
}

.me-file-left-links-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
}

.me-file-left-links-item {
    margin: 2rem;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.me-file-left-links-item a {
    color: #fff;
}

.tel {
    background-color: #2893E0;
}

.mail {
    background-color: #2065F7;
}

.xtrem {
    background-color: #20D6F7;
}

.xtrem img {
    width: 3rem;
}

.linkedin {
    background-color: #1F2BED;
}

.github {
    background-color: #1FEDD5;
}

.me-file-right {
    max-width: 50%;
    display: block;
}

@media screen and (max-width:750px) {
    .me-file-right {
        display: none;
    }
}